@page "/counter"
@*@using BlazorState*@
@*@inherits BlazorStateComponent*@
@using Learning.Client.Features
@using Fluxor
@inject IState<Learning.Client.Store.CounterUseCase.CounterState> CounterState
@inherits Fluxor.Blazor.Web.Components.FluxorComponent
@inject IDispatcher Dispatcher
<h1>Counter</h1>

@*<p>Current count: @currentCount</p>*@
<p>Current count: @CounterState.Value.ClickCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
<MudGrid>
    <MudItem xs="1">
        <MudPaper>xs=1</MudPaper>
    </MudItem>
    <MudItem xs="2">
        <MudPaper>xs=2</MudPaper>
    </MudItem>
    <MudItem xs="3">
        <MudGrid Class="blue-grey darken-4 light-green-text text-accent-3">
            <MudItem xs="1">
                <MudPaper>xs=1</MudPaper>
            </MudItem>
            <MudItem xs="2">
                <MudPaper>xs=2</MudPaper>
            </MudItem>
            <MudItem xs="9">
                <MudPaper>xs=9</MudPaper>
            </MudItem>
        </MudGrid>
    </MudItem>
</MudGrid>

<MudGrid>
    <MudItem xs="12" sm="6" lg="12">
        <MudPaper>xs=12 sm=6 lg=12</MudPaper>
    </MudItem>
    <MudItem xs="12" sm="6" lg="12">
        <MudPaper>xs=12 sm=6 lg=12</MudPaper>
    </MudItem>
</MudGrid>
@code {
    //CounterState CounterState => GetState<CounterState>();

    //private int currentCount => CounterState.Count;



    private void IncrementCount() {
        var action = new Learning.Client.Store.CounterUseCase.IncrementCounterAction();
        Dispatcher.Dispatch(action);
        //currentCount++;
        //Mediator.Send(new CounterState.IncrementCountAction { Amount = 5 });
    }
}
