@page "/forgottenPassword"
@inject HttpClient Http;
@using Learning.Shared.DataTransferModel
 
<h3>ForgottenPasswordPage</h3>
@if (!_haveSentRequest) {
    <MudTextField @bind-Value="_emailAdress" Label="Your email adress" Variant="Variant.Outlined"></MudTextField>
    <MudButton OnClick="SendRequestForResetCode">Sent reset code to email</MudButton>
} else {
    <MudTextField @bind-Value="_resetCode" Label="Enter code" Variant="Variant.Outlined"></MudTextField>
    <MudTextField @bind-Value="_newPassword" Label="Enter new password" Variant="Variant.Outlined"></MudTextField>
    <MudButton OnClick="SendResetCode">Reset</MudButton>
}
@code {
    private bool _haveSentRequest = false;

    private string _emailAdress;

    private string _resetCode;
    private string _newPassword;

    private async Task SendRequestForResetCode() {

        var response = await Http.PostAsJsonAsync($"api/ForgottenPassword", new StringValue() { Value = _emailAdress });

        if (response.IsSuccessStatusCode) {
            _haveSentRequest = true;
        }
    }
    private async Task SendResetCode() {
        var response = await Http.GetAsync($"api/ForgottenPassword/reset/{_resetCode}/{_newPassword}");

        if (response.IsSuccessStatusCode) {
            _haveSentRequest = true;
        }
    }
}
