@page "/"
@inject Learning.Client.Services.IAuthService Auth

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<Learning.Client.Components.Login />

<MudButton OnClick="LogOut">Log out</MudButton>


@code {

    async Task LogOut() {
        
        var response = await Auth.Logout();
        

    }
}
