@using Learning.Shared.DbModels

<MudGrid>
    <MudItem xs="12" sm="6">
        <MudPaper Elevation="3" Class="pa-2 mx-2">
            <MudText Typo="Typo.h6">@SlideDeck.Title</MudText>
            <MudText Typo="Typo.body1">@SlideDeck.Description</MudText>
            @if (!string.IsNullOrWhiteSpace(SlideDeck.CoverImage)) {
                <div>
                    <img src="@SlideDeck.CoverImage" class="width:100%;" />

                </div>
            }
        </MudPaper>
        @if (SlideDeck.Slides != null) {
            @foreach (var slide in SlideDeck.Slides) {
            <MudContainer Class="pa-2 mx-2">
                <Learning.Client.Components.SlideView Slide="slide"></Learning.Client.Components.SlideView>
            </MudContainer>
                }
        }

    </MudItem>
</MudGrid>
@code {
    [Parameter]
    public SlideDeck SlideDeck { get; set; }
}
